<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <h2>Esta es la lista de Productos</h2>
  <% productos.forEach(almanaque => {%>
    <p>
      <%= `- ${almanaque.foto}:se trata de un ${almanaque.producto}, tiene un coste de ${almanaque.precio}€, y se le puede englobar en las siguientes categorías: ${almanaque.tags}` %>
    </p>
    <% })  %>
</body>

</html>